body {
    font-family: NotoSansJP-Regular;
}
.logo_admin {
    width: 120px;
    height: 46.25px;
    flex-shrink: 0;
}
.item_display {
    display: inline-flex;
}
.bg-edit{
    height: 19px;
    margin: 12px;
}